<% @messages.each do |message| %>

    <p>
        <strong>To:</strong>    <%= message.to %><br>
        <strong>From:</strong>  <%= message.from %><br>
        <strong>Subject:</strong>   <%= message.subject %><br>
        <strong>Message:</strong>  <br>
        <%= message.body %>
    </p>

<% end %>   

