
<% @messages.each do |message| %>

    <div class="">
        <strong>To:</strong>    <%= message.to %><br>
        <strong>From:</strong>  <%= message.from %><br>
        <strong>Subject:</strong>   <%= message.subject %><br>
        <strong>Message:</strong>  <br>
        <%= message.body %>
    </div>
		<hr>
<% end %>   

