<h1>My Place</h1>
<div class="container show-property">
	

	<div class="container">
	  <% if @property %>
	    <h3><%= @property.address %></h3>
	    <p><%= number_to_currency(@property.price) %> per month.</p>
	  <% else %>
	    <p>You do not have a property, get a job!</p>
	  <% end %>
	</div>
</div>