<h1>Welcome to INNKEEPER!</h1>
<h2>Landlords is an online subscription management service for renting and tenancy.</h2>

<% if tenant_signed_in?  %>
	Dooodoo && current_tenant.
<% end %>

<p>Copyright 2015</p>