<div class="container-fluid">
<footer>
	<div class="row">

			<div class="col-center">  
				<a href="https://github.com/siunegu"><i class="fa fa-github-square fa-footer-icon"></i></a>
				<a href="https://twitter.com/Siunegu"><i class="fa fa-twitter-square fa-footer-icon"></i></a>
				<a href="https://www.linkedin.com/in/siunegu"><i class="fa fa-linkedin-square fa-footer-icon"></i></a>
				<p>Made by <a href="http://siunegu.github.io">Eugene Lai</a> © Innkeeper 2015</p></div>
			</div>
		
	</div>
</footer>
</div>